label{color: #4A5568;
	margin: 0px 0px 4px;
	font-size: 12px;
			}
input{
	width: 100%;
	background-color:#EDF2F7;
	border: none;
	border-radius: .25rem;
	padding: 16px;
	padding-right: 0px;
	margin-top: 10px;
	height: 35px;
	}
	select{
	width: 100%;
	background-color:#edf2f7;
	border: none;
	border-radius: .5rem;
	padding: 16px;
	padding-right: 0px;
	margin-top: 10px;
	height: 35px;
	}
button{
	width: 100%;
	background-color:#083E9E;
	border: none;
	border-radius: .5rem;
	padding: 20px 40px 16px 20px;
	border-bottom-left-radius: 10px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	}
.center{
	display: block;
	margin-top: 48px;
	margin-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.form-group{
	margin-bottom: 2rem;
}
.form-control {
	padding-top: .75rem;
	padding-bottom: .75rem;
}
div.signup {
	background-color: white;
	margin:auto;
	border-radius: 1.25rem;
	border-bottom-left-radius: 0px;
	padding: 40px 40px 48px;
	max-width: 24rem;
	width: 90%
}
body {background-color: #062863;
	padding: 48px 0px;
}
h2 {font-family:sans-serif;
	font-size: 24px;
	color:#083E9E;"
	}
p{font-family: sans-serif;
	font-size: 14px;
	color: #4A5568;
}